.gradient-wrapper {
  display: block;
  background: var(--lightgradient);
  width: 90%;
  margin: 1.5rem auto;
  border-radius: 1rem;
  padding: 0 0.5rem;
}
.title-desc-img-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-list img {
  width: 10rem;
  height: 10rem;
}
